:root {
    --squares: 16;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    border: 2px solid;
    
}

.square {
    height: calc(100% / var(--squares));
    width: calc(100% / var(--squares));
    border: 2px solid;
    box-sizing: border-box;
}