:root {
    --squares: 16;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 650px;
    width: 650px;
    border: 25px solid;
    border-color: red;
    margin: auto;
}

.square {
    height: calc(100% / var(--squares));
    width: calc(100% / var(--squares));
    border: 1px solid;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    font-size: 22px;
}

h1 {
    text-align: center;
}